@import '../../styles/common.css';

.homepage-container {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow-y: auto;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/main_image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.9);
  z-index: 1;
}

/* 모드 버튼들 - 상단 좌측 */
.mode-buttons {
  position: absolute;
  top: 40px;
  left: 40px;
  display: flex;
  gap: 15px;
  z-index: 10;
}

.mode-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  font-size: 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* 비활성화된 버튼 기본 회색 */
.mode-inactive {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: rgba(255, 255, 255, 0.6);
}

/* 각 모드별 강조 버튼 */
.mode-easy {
  background-color: rgba(200, 230, 201, 0.9);
  border: 2px solid white;
  color: white;
}

.mode-normal {
  background-color:rgba(225, 190, 231, 0.9);
  border: 2px solid white;
  color: white;
}

.mode-hard {
  background-color: rgba(255, 205, 209, 0.9);
  border: 2px solid white;
  color: white;
}

.mode-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}


/* 좌측 메뉴바 */
.sidebar-menu {
  position: absolute;
  top: 180px;
  left: 40px;
  z-index: 10;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 20;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu-list li {
  padding: 12px 15px;
  border-radius: 7px;
  color: rgba(111, 97, 185, 0.8);
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 17px;
  font-style: italic;
  font-weight: 900;
  text-shadow: 1px 1px 1px rgb(172, 163, 163);
}

.menu-list li:hover {
  background: rgba(255, 255, 255, 0.2);
  color: white;
  transform: translateX(5px);
}

.menu-list li.active {
  background: rgba(255, 255, 255, 0.25);
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* 메인 카드 영역 */
.main-cards-area {
  position: absolute;
  top: 50%;
  left: 38%;
  transform: translate(-52%, -52%);
  width: 820px;
  height: 680px;
  z-index: 5;
}

.card-wrapper {
  position: absolute;
  width: 390px;
  height: 330px;
  backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
  cursor: pointer;
}

.card-wrapper:hover {
  transform: translateY(-5px);
  background: rgba(255, 249, 249, 0.261);
}

.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.chat-area {
  position: absolute;
  transform: translate(20%, -52%);
  top: 50%;
  right: 300px;
  width: 420px;
  height: 680px;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  z-index: 5;
}

/* 상세 정보 모달 배경 스타일 */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* 사용자 환영 및 로그아웃 버튼 스타일 */
.user-actions-wrapper {
  transform: translate(20%, -100%);
  /* transform: translate(15%, -200%); */
  position: absolute;
  right: 300px;
  width: 400px;
  z-index: 10;
  display: flex;
  justify-content: flex-end; 
  align-items: baseline;
  gap: 15px; 
}

.welcome-message {
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.logout-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
}

@media (max-height: 850px) {
  .main-cards-area {
    left: 38%;
    transform: translate(-45%, -46%);
    width: 700px;
    height: 620px;
  }

  .card-wrapper {
    width: 330px;
    height: 300px;
  }

  .chat-area {
    transform: translate(-30%, -45%);
    right: 100px;
    width: 380px;
    height: 600px;
  }
  .user-actions-wrapper {
    transform: translate(-50%, -10%);
    right: 5%;
    width: 250px;
    z-index: 10;
    display: flex;
    justify-content: flex-end; 
    align-items: baseline;
    gap: 10px; 
  }
  
  .welcome-message {
    color: white;
    font-size: 15px;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  }
  
  .logout-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    font-weight: 500;
  }
}


@media (max-height: 650px) {
  .main-cards-area {
    left: 38%;
    transform: translate(-50%, -48%);
    width: 620px;
    height: 560px;
  }

  .card-wrapper {
    width: 300px;
    height: 265px;
  }

  .chat-area {
    transform: translate(-40%, -45%);
    right: 100px;
    width: 400px;
    height: 540px;
  }
  .user-actions-wrapper {
    transform: translate(-80%, -200%);
    right: 5%;
    width: 250px;
    z-index: 10;
    display: flex;
    justify-content: flex-end; 
    align-items: baseline;
    gap: 10px; 
  }
  
  .welcome-message {
    color: white;
    font-size: 15px;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  }
  
  .logout-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    font-weight: 500;
  }
}

@media (max-width: 1400px) {
  .main-cards-area {
    left: 40%;
    transform: translate(-45%, -50%);
    width: 720px;
    height: 680px;
  }

  .card-wrapper {
    width: 350px;
    height: 320px;
  }

  .chat-area {
    transform: translate(20%, -50%);
    right: 100px;
    width: 320px;
    height: 700px;
  }
  .user-actions-wrapper {
    transform: translate(10%, -50%);
    /* top: calc(50% - 375px); */
    right: 5%;
    width: 250px;
    z-index: 10;
    display: flex;
    justify-content: flex-end; 
    align-items: baseline;
    gap: 10px; 
  }
  
  .welcome-message {
    color: white;
    font-size: 15px;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  }
  
  .logout-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    font-weight: 500;
  }
}

@media (max-width: 1200px) {
  .homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .mode-btn {
    width: 50px;
    height: 50px;
    font-size: 8.5px;
  }
  .sidebar-menu {
    position: absolute;
    top: 130px;
    left: 40px;
    z-index: 10;
  }
  
  .menu-list {
    list-style: none;
    padding: 0;
    margin: 20;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .menu-list li {
    padding: 12px 15px;
    border-radius: 7px;
    color: rgba(111, 97, 185, 0.8);
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
    font-style: italic;
    font-weight: 900;
    text-shadow: 1px 1px 1px rgb(172, 163, 163);
  }
  
  
  .main-cards-area {
    /* position: relative; relative할 시 채팅창이 하단에 감 */
    /* absolute 속성 제거 */
    left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 15px;
    transform: translate(0%, 0%);
    width: 700px;
    height: 580px;
  }

  .card-wrapper {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    width: auto;
    height: 270px;
  }

  .chat-area {
    position: relative;
    right: auto;
    transform: none;
    width: 90%;
    max-width: 600px;
    height: 350px;
    order: 2;
  }
  .user-actions-wrapper {
    top: 60px;
    right: 41%;
    z-index: 10;
    display: flex;
    justify-content: flex-end; 
    align-items: baseline;
    gap: 15px; 
  }
  
  .welcome-message {
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  }
  
  .logout-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .homepage-container {
    flex-direction: column;
    padding-top: 100px;
    overflow-y: auto;
  }

  .mode-buttons {
    top: 35px;
    left: 55%;
    transform: translateX(-50%);
    gap: 20px;
  }

  .mode-btn {
    width: 50px;
    height: 50px;
    font-size: 8.5px;
  }
  
  .sidebar-menu {
    top: 60px;
    width: 90%;
  }

  .menu-list {
    margin: 40px 5px 40px 5px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }

  .menu-list li {
    padding: 5px 12px;
    font-size: 12px;
  }

  .chat-area {
    order: -1;
    position: relative;
    top: 50px;
    bottom: auto;
    right: auto;
    width: calc(100vw - 40px);
    height: 320px;
    margin: 10px auto;
    box-sizing: border-box;
    margin-bottom: 1px;
  }

  .main-cards-area {
    position: relative;
    width: 580px;
    height: 520px;
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-content: center;
    align-items: start;
    padding: 0px;
  }

  .card-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 270px;
    box-sizing: border-box;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 0;
  }
  

.user-actions-wrapper {
    top: 13%;
    right: 15%;
    width: 250px;
    display: flex;
    justify-content: flex-end; 
    align-items: baseline;
    gap: 15px; 
  }
  
  .welcome-message {
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  }
  
  .logout-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 12.5px;
    text-decoration: none;
    cursor: pointer;
    padding: 3px;
    font-weight: 500;
  }
}