@import '../../styles/common.css';

.calendar-card {
    padding: var(--spacing-lg);
    min-height: 20;


.card-header {
    position: relative;
}

.calendar-card:hover .expand-btn {
    opacity: 0.7;
}

.calendar-grid {
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(7, 1fr);
    gap: 0px;
    text-align: center;
}

.day-of-week {
    font-weight: bold;
    color: var(--text-color-dark);
    padding: 5px 0;
    font-size: 0.7rem;
}

.calendar-day {
    padding: 3px;
    border-radius: 6px;
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;
    color: var(--text-color-light);
    font-size: 0.8rem;
    flex: 1;
    position: relative;
    cursor: pointer;

}

.calendar-day:hover {
    background: rgba(253, 117, 117, 0.2);
}

.calendar-day.selected {
    background: rgba(224, 176, 255, 0.8);
    color: #fff;
    font-weight: bold;
    backdrop-filter: blur(5px);
}

.calendar-day.selected.today {
    background-color: rgba(255, 88, 88, 0.7);
}

.empty-day {
    padding: 5px 0;
}