@import 'C:\Course_Video\harufit\frontend\src\styles\common.css';

.calendar-card {
    padding: 10px 16px;
    /* 기존보다 줄임 */
    min-height: auto;
    /* 숫자 제거 */
    box-sizing: border-box;
}

.card-header {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 15px;
    color: white;
    text-align: center;
    background: rgba(255, 182, 193, 0.9);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    padding: 10px;
}

.calendar-card {
    margin-top: -10px;
    /* 또는 -15px로 점진적으로 조정 가능 */
}

.calendar-card .card-header {
    margin-top: 11px;
}

.expand-btn {
    position: absolute;
    color: aliceblue;
    top: 8px;
    right: 8px;
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.calendar-card:hover .expand-btn {
    opacity: 0.6;
}

.calendar-grid {
    display: grid;
    padding: 12px 20px 20px 20px;
    grid-template-columns: repeat(7, 1fr);
    gap: 0px;
    text-align: center;
}

.day-of-week {
    font-weight: bold;
    color: var(--text-color-dark);
    padding: 4px 0;
    font-size: 0.8rem;
}

.calendar-day {
    padding: 5px 0;
    border-radius: 6px;
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;
    color: var(--text-color-light);
    font-size: 0.7rem;
    flex: 0.8;
    position: relative;
    cursor: pointer;

}

.calendar-day:hover {
    background: rgba(253, 117, 117, 0.2);
}

.calendar-day.selected {
    background: rgba(224, 176, 255, 0.8);
    color: #fff;
    font-weight: bold;
    backdrop-filter: blur(5px);
}

.calendar-day.selected.today {
    background-color: rgba(255, 88, 88, 0.7);
}

.empty-day {
    padding: 5px 0;
}

@media (max-width: 768px) {
    .calendar-card {
        padding: 6px 10px;
        transform: scale(0.93);
        /* 약간 줄임 */
    }

    .calendar-grid {
        padding-top: 6px;
        gap: 2px;
    }

    .calendar-day,
    .day-of-week {
        font-size: 0.58rem;
        padding: 1px 0;
    }
}