@import '../../styles/common.css';

.status-card {
    padding: var(--spacing-lg);
    min-height: 0;
    /* ✨ 추가: Flex/Grid 아이템에서 내용이 넘치지 않게 */
}


.status-content {
    display: flex;
    flex-direction: column;
    flex: 0.85;
    overflow-y: auto;
    /* ✨ 추가: 내용이 넘칠 때 스크롤바 생성 */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.status-content::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

.status-item {
    display: flex;
    align-items: center;
    padding: 8px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(90px);
}

.status-details {
    display: flex;
    font-size: 0.9rem;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.95);
    flex: 1;
    /* ✨ 추가: 내용이 길어질 때 유연하게 공간 차지 */
}

.status-details p {
    margin: 8px;
}

.status-message {
    font-style: italic;
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    margin-top: 2px;
}