@import '../../styles/common.css';

.workout-card {
    padding: var(--spacing-lg);
    min-height: 0;
    height: 88%;
}

.card-header {
    position: relative;
}

.workout-card:hover .expand-btn {
    opacity: 0.7;
}

.workout-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--spacing-md);
    flex: 1;
    padding: 0 0.5rem;
}

.current-workout,
.recommended-workout {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid var(--border-color-dark);
    background: var(--card-background-light);
    backdrop-filter: blur(5px);
    width: 50%;
    box-sizing: border-box;
    justify-content: flex-start;
}

.current-workout {
    position: relative;
}

.recommended-workout {
    position: relative;
}

.recommend-label {
    position: absolute;
    top: 4px;
    left: 10px;
    background: #f9f6f17a;
    color: rgb(188, 71, 71);
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 0.75rem;
    font-weight: bold;
    backdrop-filter: blur(5px);
    right: 10px;
}

.workout-icon {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.workout-details {
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.994);
    font-size: 0.9rem;
}

.workout-details p,
.workout-details span {
    color: var(--text-color-light);
    margin: 0;
}

.exercise-list {
    list-style: none;
    padding: 0;
    margin: 15px 0px 5px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.exercise-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 0px;
    color: var(--text-color-light);
    word-break: keep-all;
    background: transparent;
    box-sizing: border-box;
}

.exercise-list li span:first-child {
    flex: 1;
    font-size: 0.9em;
    white-space: normal;
    word-break: keep-all;
    overflow: visible;
}

.exercise-list li span:last-child {
    /* flex-shrink: 0; */
    font-size: 0.75rem;
    color: rgb(56, 35, 131);
    margin-left: 5px;
    text-align: right;
    white-space: normal;
    font-weight: bold;
}

/* 섹션 내부 기록 없을 때의 안내 메시지 스타일 */
.empty-section-guide {
    font-size: 0.8rem;
    color: var(--text-color-light);
    line-height: 1.6;
    margin: 0;
    text-align: center;
    width: 100%;
}

.italic-highlight {
    font-style: italic;
  }
  .my-colored-text {
    color: #f8ee65    
  }

@media (max-width: 1400px) {
    .empty-section-guide {
        padding-top: 15px;
        font-size: 0.75rem;
        color: var(--text-color-light);
        line-height: 1.5;
        margin: 0;
        text-align: center;
    }
}
